{% extends 'base.html' %} {% block content %}
<div class="container d-flex justify-content-center message">
  {% for key,message in messages %} {% if key == 'success' %}
  <div class="alert alert-success w-50" role="alert">{{ message }}</div>
  {% else %}
  <div class="alert alert-danger w-50" role="alert">{{ message }}</div>
  {% endif %} {% endfor %}
</div>
<div class="container d-flex justify-content-center">
  <form class="form w-50" action="/changePassword" method="POST">
    <label class="mb-3" for="">新しいパスワード</label>
    <input
      class="form-control mb-3"
      type="password"
      name="new_password"
      required
    />
    <label class="mb-3" for="">新しいパスワード</label>
    <input
      class="form-control mb-3"
      type="password"
      name="confirm_password"
      required
    />
    <input class="btn btn-primary" type="submit" value="登録" />
  </form>
</div>
{% endblock content %}div.container
