{% extends "base.html" %} {% block content %}
<div class="container">
  <table class="table table-striped">
    <tr>
      <th>#</th>
      <th>チャンネル</th>
      <th>概要</th>
      <th><a class="btn btn-primary" href="./createChannel">登録</a></th>
    </tr>
    {% for channel in channels %}
    <tr>
      <td>{{ channel.channel_id }}</td>
      <td><a href="{{ url_for('listKnowledge',channel_id=channel.channel_id) }}">{{ channel.channel_name }}</a></td>
      <td>{{ channel.overview }}</td>
      <td>
        {% if channel.user_id == current_user.user_id %}
        <a
          href="{{ url_for('editChannel',channel_id = channel.channel_id)}}"
          class="btn btn-warning"
          >編集</a
        >
        <a
          href="{{ url_for('deleteChannel',channel_id=channel.channel_id)}}"
          onclick="return btnDelete()"
          class="btn btn-danger"
          >削除</a
        >
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
